<h1 *ngIf="!heroe.id; else nombreHeroe">Añadir héroe </h1>

<ng-template #nombreHeroe>
    <h1>{{heroe.superhero | titlecase }}</h1>
</ng-template>


<div fxLayout="row" fxLayoutGap="40">

     <div fxFlex="50"  fxLayout="column">

        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20"> 
            <mat-form-field>
                <mat-label>Héroe</mat-label>
                <input matInput 
                       type="text" 
                       [(ngModel)]="heroe.superhero"
                       required>
            </mat-form-field>
    
            <mat-form-field>
               <mat-label>Alter ego</mat-label>
               <input matInput 
                       type="text" 
                       [(ngModel)]="heroe.alter_ego"
                       required>
           </mat-form-field>
        </div>

        <mat-form-field>
            <mat-label>Primera aparicion</mat-label>
            <input matInput 
                       type="text" 
                       [(ngModel)]="heroe.first_appearance"
                       required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Personajes</mat-label>
            <input matInput 
                       type="text" 
                       [(ngModel)]="heroe.characters"
                       required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Creador</mat-label>
            <mat-select required [(ngModel)]="heroe.publisher">
                <mat-option *ngFor="let publisher of publishers" [value]="publisher.id">
                    {{ publisher.id }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Foto url</mat-label>
            <input matInput 
                   type="url"
                   [(ngModel)]="heroe.alt_img"
                   required>
        </mat-form-field>

        <div fxLayout="row">

            <button mat-raised-button 
                    fxFlex="45"
                    (click)="guardar()"
                    color="primary">
                <mat-icon>grading</mat-icon>
                Guardar
            </button>
    
            <span class='spacer'></span>
    
            <button mat-raised-button 
                    fxFlex="45"
                    (click)="borrar()"
                    *ngIf="heroe.id"
                    color="warn">
                <mat-icon>delete</mat-icon>
                Borrar
            </button>

        </div>



     </div>


    <div fxFlex="50">
        <img [src]="heroe | imagen">
    </div>

</div>