<h1>Añadir héroe <small>aoeaoe</small></h1>

<div fxLayout="row" fxLayoutGap="40">

     <div fxFlex="50"  fxLayout="column">

        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20"> 
            <mat-form-field>
                <mat-label>Super heroe</mat-label>
                <input matInput type="text" required>
            </mat-form-field>
    
            <mat-form-field>
               <mat-label>Alter ego</mat-label>
               <input matInput type="text" required>
           </mat-form-field>
        </div>

        <mat-form-field>
            <mat-label>Primera aparicion</mat-label>
            <input matInput type="text" required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Personajes</mat-label>
            <input matInput type="text" required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Creador</mat-label>
            <mat-select>
                <mat-option *ngFor="let publisher of publishers">
                    {{ publisher.id }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Foto url</mat-label>
            <input matInput type="url" required>
        </mat-form-field>

        <button mat-raised-button color="primary">
            <mat-icon>grading</mat-icon>
            Guardar
        </button>

     </div>

     <div fxFlex="50">
         <img [src]="heroe | imagen" alt="">
     </div>
</div>